<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verification</title>
  </head>
  <body>
    <div class='app-wrap'>
      <h3>Verifying Login</h3>

      <button>Launch Electron App</button>

      <a href='/login'>Back to login</a>

    </div>
  </body>
</html>